## Foundations of Data Science with Target data

## Exploring data in the command line

1. How many records (lines) are in this file?

In [2]:
# wordcount by line - 10341 Records
!wc -l < advertising_events.csv

10341

2. How many unique users are in this file? (consider the 'cut' command and use pipe operator '|')

In [3]:
# cut command for taking 1st column --> sort unique --> wordcount by line - 732 Unique Users
!cut -d ',' -f 1 advertising_events.csv | sort -u | wc -l

732

3. Rank all domains by the number of visits they received in descending order. (consider the 'cut', 'uniq' and 'sort' commands and the pipe operator).

In [4]:
# cut command for taking 3rd column --> sort by domain --> take unique domain count --> sort in descending order
!cut -d ',' -f 3 advertising_events.csv | sort | uniq -c | sort -r

   3114 google.com
   2092 facebook.com
   1036 youtube.com
   1034 yahoo.com
   1022 baidu.com
    513 wikipedia.org
    511 amazon.com
    382 qq.com
    321 twitter.com
    316 taobao.com

4. List all records for the user with user id 37. (hint: this can be done using 'grep')

In [5]:
# global regex for user id 37
!grep -w '37' advertising_events.csv

37,648061658,google.com,0
37,642479972,google.com,2
37,644493341,facebook.com,2
37,654941318,facebook.com,1
37,649979874,baidu.com,1
37,653061949,yahoo.com,1
37,655020469,google.com,3
37,640878012,amazon.com,0
37,659864136,youtube.com,1
37,640361378,yahoo.com,1
37,653862134,facebook.com,0
37,648828970,youtube.com,0

## Dealing with data with Python

In [6]:
# Importing Packages
import pandas as pd
import numpy as np

1. Load the data set "datasets/ads_dataset.tsv" into a Python Pandas data frame called ads.

In [7]:
# Loading Tab Delimited Data using read_table pandas function in 'ads' dataframe
ads = pd.read_table("ads_dataset.tsv")
ads

,isbuyer,buy_freq,visit_freq,buy_interval,sv_interval,expected_time_buy,expected_time_visit,last_buy,last_visit,multiple_buy,multiple_visit,uniq_urls,num_checkins,y_buy
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,106,106,0,0,169,2130,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,72,72,0,0,154,1100,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,5,5,0,0,4,12,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,6,6,0,0,150,539,0
NaN,0,NaN,2,0.0,0.500000,0.0,-101.149300,101,101,0,1,103,362,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,0,NaN,3,0.0,30.979170,0.0,12.621240,8,8,0,1,168,2080,0
NaN,0,NaN,2,0.0,1.041667,0.0,-0.916713,1,1,0,1,1,15,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,20,20,0,0,132,556,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,180,180,0,0,71,400,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,185,185,0,0,77,401,0

2. Write a Python function called getDfSummary() that does the following:

Takes as input a data frame

For each variable in the data frame calculates the following features:
* number_nan to count the number of missing not-a-number values
* Ignoring missing, NA, and Null values:
    * number_distinct to count the number of distinct values a variable can take on
    * mean, max, min, std (standard deviation), and 25%, 50%, 75% to correspond to the appropriate percentiles

All of these new features should be loaded in a new data frame. Each row of the data frame should be a variable from the input data frame, and the columns should be the new summary features.

Returns this new data frame containing all of the summary information


The pandas describe() (manual page) method returns a useful series of values that can be used here.

In [8]:
def getDfSummary(input_data):
    # Initialising lists
    number_nan = [] #count the number of missing not-a-number values
    number_distinct = [] #count the number of distinct values a variable can take on
    describe = [] #mean, max, min, std (standard deviation), and 25%, 50%, 75% to correspond to the appropriate percentiles
    
    # number_nan --> isnull() to check if value is null (T/F) --> sum() to count True Values
    number_nan = input_data.isnull().sum()
    
    # number_distinct --> number of unique elements in the group --> Remove missing values
    number_distinct = input_data.nunique(dropna=True)
    
    """
    describe --> using describe(): descriptive statistics that summarize the central tendency, 
    dispersion and shape of a dataset’s distribution, excluding NaN values. --> .T: fitting precisely
    """
    describe = input_data.describe().T
    
    # Loading calculated values in a new dataframe
    output_data = pd.DataFrame({'number_nan':number_nan, 'number_distinct':number_distinct, 'mean':describe['mean'],
                               'max':describe['max'], 'min':describe['min'], 'std':describe['std'], '25%':describe['25%'],
                               '50%':describe['50%'], '75%':describe['75%']})
    # Ordering Columns
    output_data = output_data[['number_nan','number_distinct', 'mean', 'max', 'min', 'std', '25%', '50%', '75%']]
    
    return output_data

# Displaying output
getDfSummary(ads)

,number_nan,number_distinct,mean,max,min,std,25%,50%,75%
isbuyer,0,2,0.042632,1.00000,0.0000,0.202027,0.0,0.0,0.000000
buy_freq,52257,10,1.240653,15.00000,1.0000,0.782228,1.0,1.0,1.000000
visit_freq,0,64,1.852777,84.00000,0.0000,2.921820,1.0,1.0,2.000000
buy_interval,0,295,0.210008,174.62500,0.0000,3.922016,0.0,0.0,0.000000
sv_interval,0,5886,5.825610,184.91670,0.0000,17.595442,0.0,0.0,0.104167
expected_time_buy,0,348,-0.198040,84.28571,-181.9238,4.997792,0.0,0.0,0.000000
expected_time_visit,0,15135,-10.210786,91.40192,-187.6156,31.879722,0.0,0.0,0.000000
last_buy,0,189,64.729335,188.00000,0.0000,53.476658,18.0,51.0,105.000000
last_visit,0,189,64.729335,188.00000,0.0000,53.476658,18.0,51.0,105.000000
multiple_buy,0,2,0.006357,1.00000,0.0000,0.079479,0.0,0.0,0.000000
multiple_visit,0,2,0.277444,1.00000,0.0000,0.447742,0.0,0.0,1.000000
uniq_urls,0,207,86.569343,206.00000,-1.0000,61.969765,30.0,75.0,155.000000
num_checkins,0,4628,720.657592,37091.00000,1.0000,1275.727306,127.0,319.0,802.000000
y_buy,0,2,0.004635,1.00000,0.0000,0.067924,0.0,0.0,0.000000

3. How long does it take for your getDfSummary() function to work on your ads data frame? Show us the results below.

 %timeit getDfSummary(ads)

In [9]:
# Calculate time for above cell code
%timeit getDfSummary(ads)

80.2 ms ± 3.67 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

4. Using the results returned from getDfSummary(), which fields, if any, contain missing NaN values?

In [10]:

# Generating Fields which contain missing NaN values
results = getDfSummary(ads)
missing_NaN = results.index[results['number_nan'] != 0].tolist()
missing_NaN

['buy_freq']

5. For the fields with missing values, does it look like the data is missing at random? Are there any other fields that correlate perfectly, or predict that the data is missing? What would be an appropriate method for filling in missing values?

    create another data frame that has just the records with a missing value. Get a summary of this data frame using getDfSummary() and compare the differences. Do some feature distributions change dramatically?

In [11]:
# Considered Records for Missing Values
check_ads_NaN = ads[ads.isnull().any(axis = 1)]
getDfSummary(check_ads_NaN)

,number_nan,number_distinct,mean,max,min,std,25%,50%,75%
isbuyer,0,1,0.000000,0.00000,0.0000,0.000000,0.0,0.0,0.000000
buy_freq,52257,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
visit_freq,0,48,1.651549,84.00000,1.0000,2.147955,1.0,1.0,2.000000
buy_interval,0,1,0.000000,0.00000,0.0000,0.000000,0.0,0.0,0.000000
sv_interval,0,5112,5.686388,184.91670,0.0000,17.623555,0.0,0.0,0.041667
expected_time_buy,0,1,0.000000,0.00000,0.0000,0.000000,0.0,0.0,0.000000
expected_time_visit,0,13351,-9.669298,91.40192,-187.6156,31.239030,0.0,0.0,0.000000
last_buy,0,189,65.741317,188.00000,0.0000,53.484622,19.0,52.0,106.000000
last_visit,0,189,65.741317,188.00000,0.0000,53.484622,19.0,52.0,106.000000
multiple_buy,0,1,0.000000,0.00000,0.0000,0.000000,0.0,0.0,0.000000
multiple_visit,0,2,0.255602,1.00000,0.0000,0.436203,0.0,0.0,1.000000
uniq_urls,0,207,86.656180,206.00000,-1.0000,61.996711,30.0,75.0,155.000000
num_checkins,0,4570,721.848518,37091.00000,1.0000,1284.504018,126.0,318.0,803.000000
y_buy,0,2,0.003024,1.00000,0.0000,0.054904,0.0,0.0,0.000000

# The data is missing at random? Are there any other fields that correlate perfectly, or predict that the data is missing?

From the above observations, we can see the differences in "buy_freq" and "multiple_buy".

"is_buyer" attribute states if the buyer has bought anything (is_buyer=1) or not (is_buyer=0). "buy_freq" is the frequency of the item bought and "multiple_buy" is the number of same items bought.

From the comparisons as we considered only missing values, we can observe that:

    * When "is_buyer=0" then the value of "buy_freq=NaN" (If buyer have not bought anything, then there is no data for "buy_freq")
    * When there is no data for "buy_freq", the data for "buy_interval" , "expected_time_buy" and "multiple_buy" have value as 0.
    
Therefore, from above points, we can say that "is_buyer" predicts that the data is missing or not. Hence, "is_buyer" is correlated with "buy_freq" which is also correlated to "buy_interval" , "expected_time_buy", "multiple_buy". Therefore, the data is not missing at random.

# What would be an appropriate method for filling in missing values?

The value of "buy_freq" is missing when "is_buyer=0" which means that the buyer has not bought anything. So, we should also set the "buy_freq=0" for all missing values, "is_buyer" shows corelation.

6. Which variables are binary?

In [12]:

# Binary Variables
binary_vars = []

binary_vars = [column for column in ads
             if ads[[column]].dropna().isin([0, 1]).all().values]
binary_vars

['isbuyer', 'multiple_buy', 'multiple_visit', 'y_buy']